[alias]
	s     = status -su
	d	    = diff
	pl    = !git pull origin `git branch --show-current`
	ps    = !git push origin `git branch --show-current`
	bn    = checkout -b
	bd    = branch -D
	bc    = checkout
	cm    = !git add . && git commit -m
	a	    = add .
	sl    = stash list
	sa    = stash apply
	sd    = stash drop
	rh	  = reset --hard
	r	    = reset
