[Desktop Entry]
Type=Application
Exec=google-chrome --app=https://teams.microsoft.com/
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=teams
Name=teams
Comment[en_US]=
Comment=
