[alias]
s     = status -su
d     = diff
pull  = git pull origin # fix
push  = push origin
pl    = !git pull origin `git branch --show-current`
ps    = !git push origin `git branch --show-current`
b     = branch
bn    = checkout -b
bd    = branch -D
ch    = checkout
cmm   = commit -m
cm    = !git add . && git commit -m
a     = add .
sl    = stash list
sa    = stash apply
sd    = stash drop
rh    = reset --hard
r     = reset
f	  = fetch
ma	  = merge --abort
cp    = cherry-pick
cu    = config user.name
ce    = config user.email
cl    = clone
